{% extends 'base.html.twig' %}

{% block title %}Edit CatSubProcesos{% endblock %}

{% block body %}
    <h1>Edit CatSubProcesos</h1>

    {{ include('cat_sub_procesos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cat_sub_procesos_index') }}">back to list</a>

    {{ include('cat_sub_procesos/_delete_form.html.twig') }}
{% endblock %}
