{% extends 'base.html.twig' %}

{% block title %}New CatSubProcesos{% endblock %}

{% block body %}
    <h1>Create new CatSubProcesos</h1>

    {{ include('cat_sub_procesos/_form.html.twig') }}

    <a href="{{ path('app_cat_sub_procesos_index') }}">back to list</a>
{% endblock %}
