{% extends 'base.html.twig' %}

{% block title %}New CatProceso{% endblock %}

{% block body %}
    <h1>Create new CatProceso</h1>

    {{ include('cat_proceso/_form.html.twig') }}

    <a href="{{ path('app_cat_proceso_index') }}">back to list</a>
{% endblock %}
